.logo_tl{
    padding:15px 10px 15px 10px;
}

#menuBar {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: #444;
    padding: 0px 20px;
    min-width: 1072px;

    display:-ms-flexbox;
-ms-flex-pack:center;
-ms-flex-align:center;

/* Firefox */
display:-moz-box;
-moz-box-pack:center;
-moz-box-align:center;

/* Safari, Opera, and Chrome */
display:-webkit-box;
-webkit-box-pack:center;
-webkit-box-align:center;

/* W3C */
display:box;
box-pack:center;
box-align:center;
}

#menuBar a {
    color: #eee;
    font-weight: 300;
}

.nav-item .nav-link div {
    padding: 10px 30px;
}

.menu {
    padding: 0 20px;
    text-align: center;
}

.menu div:hover {
    background-color: #e67e22;
}

.dropdown-item {
    cursor: pointer;
}

.dropdown-menu {
    right: 0;
    left: auto;
}