<nav class="navbar navbar-expand-sm bg-light">
  <div id="menuBar" class="row">
    <div class="col-9">
      <ul class="navbar-nav menu">
        <li *ngFor="let menuItem of allMenuItems" class="nav-item"><a href="{{menuItem.link}}" class="nav-link"><div>{{menuItem.name}}</div></a></li>
      </ul>
    </div>
    <div class="col-3">
      <ul class="nav justify-content-end">
          <li class="nav-item">
              <div class="dropdown">
                <button type="button" class="btn btn-primary btn-sm dropdown-toggle align-middle" data-toggle="dropdown"></button>
                <div class="dropdown-menu">
                  <div class="dropdown-item">Settings</div>
                  <div class="dropdown-item" (click)="logOut()">Log out</div>
                </div>
              </div>
          </li>
      </ul>
    </div>
  </div>
</nav>