<main *ngIf="show">
  <div *ngIf="!(profileUser == null); else notFoundBlock">
    <div class="row" id="userInfoBox">
      <div class="col-3 text-center container">
          <div id="userProfilePicContainer" class="border border-primary rounded shadow-sm">
            <img src="{{baseURL}}Images/UsersImages/{{profileUser?.profile_pic}}" alt="Profile Picture" />
            <div *ngIf="itsMe" class="btm-btn" (click)="changeProfileImageClick()">Change Picture</div>
          </div>
          <input
            *ngIf="itsMe"
            id="userImageInput"
            type="file"
            (change)="fileEvent($event)"
            accept=".jpg"
            style="display: none" />
      </div>
      <div class="col-9">
        <h3>{{profileUser?.firstName}} {{profileUser?.lastName}}</h3>
      </div>
    </div>
  </div>
  <ng-template #notFoundBlock>
    <app-notfound></app-notfound>
  </ng-template>
</main>
<app-menubar *ngIf="currUser != null" [user]="currUser"></app-menubar>