#userProfilePicContainer {
    width: 250px;
    height: 250px;
    display: inline-block;
    background-color: white;
    overflow: hidden;
    position: relative;
}

#userProfilePicContainer img{
    width:100%;
}

#userInfoBox {
    padding: 10px 0px;
}

.btm-btn {
    width: 100%;
    background-color: teal;
    color: white;
    position: absolute;
    bottom: 0px;
    padding: 5px 0px;
    display: none;
    cursor: pointer;
}

#userProfilePicContainer:hover .btm-btn{
    display: block;
}